.menu a{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;

     .mostrar-menu,
     .esconder-menu{
     font-size: 30px;
     cursor: pointer;
    display: none;
    transition: 0.4s;
     }
     .mostrar-menu{
     order:1;
     }


     .menu a:hover,
     .mostrar-menu:hover,
     .esconder-menu:hover{
     color: #fff;
}

     #check{
    display: none;}
}   